body{
    margin: 0 auto;
    color: white;
}
.btSecret{
    display: none;
}

#co{
    margin-top: 25px;
    width: 35%;
}
#but{
    margin: 0 auto;
}
#first, #second{
    border: black 3px solid;
}
.int{
    font-family: cursive;
}
#astro{
    margin: 0 auto;
    background-image: url(images/etoiles.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#Compétences{
    color: black;
}
table,
td{ 
        border: 1px solid black;
        width: 70%;
        margin: 0 auto;
        color: black;
}
    thead,
    tfoot {
        background-color: rgb(2, 77, 175);
        width: 75%;
        margin: 0 auto;
        color: aliceblue;
}

h3{
    text-align: center;
}
#foot{
    background-color: black;
}
#Project{
    background-color: rgba(160, 160, 160, 0.897);
    margin: 0 auto;
}
#aquis{
    margin: 0 auto;
    text-align: center;
    background-color: rgba(160, 160, 160, 0.897);
}
