body{
    width: 900px;

    margin: 0 auto;
    color: white;
}

.darkMode{
    background-image: url(images/fond.jpg);
    color: black;
}

#co{
    margin-top: 25px;
    width: 35%;
}
#para{

}
.int{
    font-family: cursive;
}
table,
td{ 
        border: 1px solid black;
        width: 70%;
        margin: 0 auto;
        color: black;
}
    thead,
    tfoot {
        background-color: rgb(230, 126, 8);
        width: 75%;
        margin: 0 auto;

}
#btSecret{
display: none;
}

h3{
    text-align: center;
}
h4{
    border-bottom: darkblue solid 2px;
    width: 35%;
    margin: 0 auto;
}
#Project{
    margin-top: 15px;
    float: left;
    width: 35%;
    background-color: rgba(160, 160, 160, 0.897);
}
#aquis{
    margin-top: 15px;
    float: right;
    padding-left: -200px;
    text-align: center;
    background-color: rgba(160, 160, 160, 0.897);
}
